
<div class="side-menu">
    <div class="home">
        <div class="home-bg"></div>
        <a href="/">nhaconline.com</a>
    </div>
    <div class="wrap">
        <ul class="head-menu-list">
            <li><a href="/" class="{{homeTab}}"><i class="las la-home"></i> Trang chủ</a></li>
            <li><a href="/songs" class="{{songTab}}"><i class="las la-music"></i> Bài hát</a></li>
            <li><a href="/singers" class="{{singerTab}}"><i class="las la-male"></i> Ca sĩ</a></li>
            <li><a href="/musicians" class="{{musicianTab}}"><i class="las la-male"></i> Nhạc sĩ</a></li>
            {{#unless name}}
                <li><a href="/login" class="{{loginTab}}"><i class="las la-user-circle"></i> Đăng nhập</a></li>
            {{/unless}}
            {{#if name}}
                <div id="nameOfUser" style="position: relative;">
                    <p style="margin: 0; position: relative; width: fit-content">{{name}}
                        {{#if isAdmin}}
                            <span id="admin">Admin</span>
                        {{/if}}
                    </p>
                    <div class="user-select">
                        {{#if isAdmin}}
                            <li><a href="/manager"><i class="las la-file-upload"></i> Tải lên</a></li>
                        {{/if}}
                        <li><a href="/logout"><i class="las la-sign-out-alt"></i> Đăng xuất</a></li>
                    </div>
                    <i class="las la-user-cog" style="position: absolute;top: 50%;transform: translateY(-50%);right: 10%;"></i>
                </div>
            {{/if}}
            <div class="mark-transparent hide-mark"></div>
        </ul>
    </div>
</div>
<div class="mark hide-mark"></div>
<div class="music-player">
    <div class="info-player" style="width: 90%; height: 57%; margin: 1rem auto; overflow:auto">
        <div class="bg-player show"></div>
        <pre style="font-size: 0.6rem;line-height: 1.3rem;" class="hide lyric">

        </pre>
        <div class="list hide">
            
        </div>
    </div>
    <div class="btn-gr">
        <div class="btn btn-lyric"><i class="las la-microphone-alt"></i><p>Lời</p></div>
        <div class="btn btn-list"><i class="las la-list"></i> <p>Danh sách phát</p></div>
        <div class="btn btn-download"><a download><i class="las la-download"></i> <p>Tải</p></a></div>
    </div>
    <h2 style="margin: 1rem" class="nameSong"></h2>
    <h4 style="margin: 0 1rem; font-weight: 400" class="singer"></h4>
    <audio id="audio" src="" type="audio/mp3"><!--Bai hat duoc phat--></audio>

    <div class="audio-player">
        <div class="controls">
            <div class="time">
                <span class="curtime unselectable" unselectable="on">00:00</span>
                <div id="progressbar">
                    <div class="progressbar-bg"></div>
                    <div id="progress"></div>
                </div>
                <span class="durtime unselectable" unselectable="on">00:00</span>
            </div>
            <div class="button-gr">
                <span><i id="randomAudioBtn" class="las la-random" title="Ngẫu nhiên"></i></span>
                <span><i id="prevAudioBtn" class="las la-backward"></i></span>
                <span><i id="playAudioBtn" class="las la-play" title="Phát/Dừng"></i></span>
                <span><i id="nextAudioBtn" class="las la-forward" title="Bài tiếp"></i></span>
                <span><i id="repeatAudioBtn" class="las la-redo-alt" title="Vòng lặp"></i></span>
                <span class="volume-span">
                    <i id="volumeAudioBtn" class="las la-volume-up"></i>
                    <div class="changeVol">
                        <div id="volume-slider">
                            <div class="progressVol">
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="nextAudio">
        <h4>Bài tiếp theo: /Danh sách trống/</h4>
    </div>
</div>