{{#each musician}}
    <div class="row" style="display: flex; justify-content: space-between; margin-top: 1rem;">
        <div class="bg" style="background-image: url(.{{this.musician_image}});width: 47.5%;
        height: 300px;
        background-position: center center;
        background-size: cover;
        border-radius: 1rem;"></div>
        <div class="musicianInfo" style="width: 47.5%;">
            <h3>{{this.musician_name}}</h3>
            <p>{{this.musician_namsinh}}</p>
        </div>
    </div>
{{/each}}

<div class="songshbs">
    <h3 class="title">TẤT CẢ BÀI HÁT</h3>

    <div class="list">
        {{#each songs}}
        <div class="list-song" data-link=".{{this.song_link}}" data-lyric=".{{this.song_lyric}}">
            <div class="thumbnail">
                <img src=".{{this.song_image}}">
            </div>
            <div class="column">
                <h5 class="nameSong" data-link=".{{this.song_link}}">{{this.song_name}}</h4>
                <h6 class="singer">{{this.singer_name}}</h6>
            </div>
            <div class="row">
                <div class="addPlaylist btn">Thêm vào chờ phát</div>
                {{#if ../isAdmin}}
                    <div class="delSong btn">Xóa</div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    
</div>