<div class="songshbs">
    <input type="text" id="mySearch" placeholder="Nhập tên bài hát">

    <h3 class="title">TẤT CẢ BÀI HÁT</h3>

    <div class="list">
        {{#each songs}}
        <div class="list-song" data-link="{{this.song_link}}" data-lyric="{{this.song_lyric}}">
            <div class="thumbnail">
                <img src="{{this.song_image}}">
            </div>
            <div class="column">
                <h5 class="nameSong" data-link="{{this.song_link}}">{{this.song_name}}</h4>
                <a href="/singers/{{this.singer_id}}" class="singer">{{this.singer_name}}</a>
            </div>
            <div class="row">
                <div class="addPlaylist btn"><i class="las la-plus-circle"></i><span>Thêm vào chờ phát</span></div>
                {{#if ../isAdmin}}
                    <a type="button" class="delSong btn" data-id="{{this.song_id}}" data-target="#delete">Xóa</a>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    
</div>

<div class="modal fade" id="delete">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa bài hát này</h5>
        <button type="button" class="btn close-btn" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Chắc chắn?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn close-btn">Hủy</button>
        <button type="button" class="btn" id="btn-delete">Xóa</button>
      </div>
</div>

<form method="POST" name="delete-form"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var id;
        var deleteForm = document.forms['delete-form'];

        $('.delSong').click(function(event){
            event.stopPropagation();
            $('.fade').removeClass('fade');
            var name = $(this).parent().parent().children('.column').children('.nameSong').text();
            $('.modal-title').text(`Xóa bài ${name}`);
            id = $(this).attr('data-id');
            $('.hide-mark').removeClass('hide-mark');
        })
        $('.close-btn').click(function(){
            $('.mark').addClass('hide-mark');
            $('#delete').addClass('fade');
        })
        $('#btn-delete').click(function(){
            deleteForm.action = '/songs/' + id +'?_method=POST';
            deleteForm.submit();
        })

        $('#mySearch').keyup(function(){
            var input, filter, ul, li, a, i;
            input = document.getElementById("mySearch");
            filter = input.value.toUpperCase();
            
            list_song = $(".songshbs .list .list-song");
            for (i = 0; i < list_song.length; i++) {
                nameSong = list_song[i].getElementsByClassName("nameSong")[0];
                if (nameSong.innerHTML.toUpperCase().indexOf(filter) == 0) {
                    list_song[i].style.display = "";
                } else {
                    list_song[i].style.display = "none";
                }
            }
        });
    })
</script>